@CHARSET "UTF-8";

#keyboard {
	list-style: none;
	background: #d3d3d3;
	padding: 2rem 3.5rem;
	height: 36.5rem;
	width: 104.3rem;
	margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    border-radius: 0.3rem;   
}

.screen-keyboard {
	position: relative;
}

#keyboard li {
	padding: 1rem;
	margin: 0.5rem;
	width: 5.5rem;
	height: 5.5rem;
	text-align: center;
	line-height: 3.5rem;
	background: #fff;
	float: left;
	border-radius: 0.4rem;
}

#keyboard li:hover {
	position: relative;
	top: 1px;
	left: 1px;
	color: #ff6600;
	border-color: #fff;
	cursor: pointer;
}

#keyboard .backspace {
	width: 11.7rem;
}

#keyboard .tab {
	width: 11.7rem;
}

#keyboard .capslock {
	width: 12.6rem;
}

#keyboard .enter {
	width: 11.1rem;
}

#keyboard .shift {
	width: 15.1rem;
}

#keyboard .space {
	width: 57.4rem;
}

#keyboard .alt-ctrl {
	width: 18.4rem;
}

.uppercase {
	text-transform: uppercase;
}

#keyboard .shift.active, 
#keyboard .capslock.active,
#keyboard .alt-ctrl.active{
    background : #ff6600;
    border-color : #ff6600;
    color: #fff;
}

.on, .alt-ctrl-on {
	display: none;
}

#close-keyboard {
	margin-left: calc(50% + 50.5rem);
	display: block;
    position: absolute;
    top: -1.8rem;
    width: 3.5rem;
    height: 3.5rem;
    background: url('http://cdn-sg1.pgimgs.com/images/pg/close-button.png') no-repeat center center;
    cursor: pointer;
    text-align: center;
}


